.register_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.register_container .register_container_left {
    flex-basis: 45%;
}
.register_container .register_container_right {
    position: sticky;
    top: 200px;
    flex-basis: 50%;
}
.register_container .register_container_right img {
    width: 95%;
    transform: translateY(-140px);
}

.register_container .register_container_left span {
    padding-top: 50px;
    display: block;
    font-size: 2.8rem;
    margin-bottom: 24px;
    color: rgb(133, 112, 112);
}
.register_container .register_container_left form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.register_container .register_container_left form input {
    padding: 8px;
    height: 40px;
    width: 80%;
    outline: none;
    background: none;
    color: var(--text-dark);
    border: 1px solid var(--text-dark);
    margin-bottom: 14px;
}

.register_container .register_container_left form select {
    padding: 8px;
    height: 40px;
    width: 80%;
    outline: none;
    background: none;
    color: var(--text-dark);
    border: 1px solid var(--text-dark);
    margin-bottom: 14px;
}
.register_container .register_container_left form select::selection {
    padding: 8px;
    height: 40px;
    width: 80%;
    outline: none;
    background: none;
    color: var(--text-dark);
    border: 1px solid var(--text-dark);
    margin-bottom: 14px;
}
.register_container .register_container_left form p {
    margin-bottom: 14px;
    margin-top: 28px;
}
.register_container .register_container_left form button {
    padding: 8px;
    height: 50px;
    width: 80%;
    outline: none;
    background: var(--primary);
    color: var(--text-white);
    border: none;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}
.register_container .register_container_left form button:hover {
    background: var(--primary-hover);
    border: none;
}

.register_container .register_container_left .register_container_or {
    position: relative;
    width: 80%;
    text-align: center;
    margin: 18px 0;
}
.register_container .register_container_left .register_container_or::before,
.register_container .register_container_left .register_container_or::after {
    position: absolute;
    width: 45%;
    height: 1px;
    background: var(--text-dark);
    content: "";
    top: 10px;
}
.register_container .register_container_left .register_container_or::before {
    left: 0;
}
.register_container .register_container_left .register_container_or::after {
    right: 0;
}

.register_container .register_container_left .register_container_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    height: 50px;
    width: 80%;
    outline: none;
    background: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 24px;
    transition: 0.5s;
}
.register_container .register_container_left .register_container_link:hover {
    background: var(--primary-hover);
    border: none;
    color: var(--text-white);
}
