.profile_main_info_container {
    
    width: 100%;
    border-radius: 14px;
    background:  var(--white);
    box-shadow: 2px 2px 3px var(--main-white-light-outline);
    margin-bottom: 34px;
}
/*




*/
.profile_main_info_container .profile_main_info_img_box {
    position: relative;
    width: 100%;
    background: var(--main-white-light);
    min-height: 200px;
    position: relative;
}
.profile_main_info_img_box .profile_banner_background {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--main-white-light);
    height: 200px;
    overflow: hidden;
}
.profile_main_info_container .profile_main_info_img_box .profile_banner_background div{
    flex-basis: 72.5%;
    height: 500px;
    transform: translatey(-100px);
    border-radius: 0 50% 50% 0;
    background: rgba(203, 213, 205, 0.800);
}
.profile_main_info_container .profile_main_info_img_box .profile_banner_background div:last-child{
    flex-basis: 22%;
    height: 100%;
    border-radius: 0%;
    transform: translatey(0px);
    background: rgba(203, 213, 205, 0.400);
}
.profile_main_info_container  .profile_banner_background button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: var(--white);
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 30px;
}
/*




*/
.profile_main_info_container .profile_main_info_img_box img{
    max-height: 200px;
    width: 100%;
    margin: auto;
    cursor: pointer;
}
.profile_main_info_container .profile_main_info_img_box img:last-child{
    position: absolute;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid var(--white);
    left: 28px;
    bottom: -50px;
}
/* 







}
    Profile info content
*/
.profile_main_info_container .profile_main_info_content{
    width: 100%;
    margin-top: 40px;
    padding: 24px;
}
 .profile_main_info_content .profile_main_info_content_row{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--gray);
}
.profile_main_info_content_row
  .profile_main_info_content_left{
    flex-basis: 60%;
}
.profile_main_info_content_row
  .profile_main_info_content_left strong{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--gray);
}
.profile_main_info_content_row
.profile_main_info_content_left small a{
    color: var(--blue);
    font-weight: 500;
    text-decoration: none;
}

.profile_main_info_content_row
  .profile_main_info_content_right{
    flex-basis: 30%;
    display: flex;
    align-items: flex-start;
}
.profile_main_info_content_row
  .profile_main_info_content_right div{
    width: 50px;
    height: 40px;
    background: var(--main-white-light);
    margin-right: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
}
.profile_main_info_content_row
.profile_main_info_content_right div div{
    width: 20px;
    height: 20px;
    background: rgba(203, 213, 205, 0.900);
    border-radius: 50%;
    transform: translatex(12px);
    padding: 0px;
}
.profile_main_info_content_row
.profile_main_info_content_right div div:last-child{
      position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(23, 20, 200, .2);
    border-radius: 50%;
    transform: translate(3px, 8px);
}
.profile_main_info_content_row
.profile_main_info_content_right p{
    color: var(--gray);
    font-weight: 600;
}


/*






*/
.profile_main_info_content_addinterest{
    margin-top: 18px;
    padding-bottom: 18px;
}
.profile_main_info_content_addinterest a{
    margin-right: 18px;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 14px;
    text-decoration: none;
    padding: 4px 18px;
    text-align: center;
    transition: .3s;
}
.profile_main_info_content_addinterest a:first-child{
    color: var(--text-white);
    background: var(--blue);
}
.profile_main_info_content_addinterest a:hover{
    color: var(--text-white);
    background: var(--blue);
}

@media (max-width: 650px){
    .profile_main_info_content_addinterest {
        display: none;
    }
}
@media (max-width: 537px){
    .profile_main_info_content_row
    .profile_main_info_content_right {
        display: none;
    }

    .profile_main_info_content_row
    .profile_main_info_content_left{
    flex-basis: 95%;
    }
}